# Exercise: Data Cleansing and Feature Engineering

In this exercise, we'll be loading in a dataset that has some problems. In order for us to get it ready for our models, we will apply some of the technics we learned.

Apply these changes to the `data.csv` dataset.
1. Load `data.csv` into a dataframe.
2. Output the table info to see if there are any null values.
3. Remove all null values from the dataframe.
4. Change the `date` column from an object to a `datetime64[ns]` type.
5. Change the `weather` column to a category type.
6. One hot encode the `date` column to year, month, and day.
7. Normalized the columns from the `all_features` list so each feature has a zero mean.
8. Create and save the cleaned dataframe, as well as the train/validation/test dataframes to CSV.

In [57]:
import random
from datetime import datetime
import pandas as pd
import numpy as np

from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [58]:
# Reading the dataset created by 02_exercise_dataset_creation.ipynb
df = pd.read_csv("data.csv")

In [59]:
# Always good to check to see if the data looks right
df.head()

   feature0  feature1  feature2        date weather      target
0  0.274647 -0.603620  0.688897  2021-01-01   sunny   41.269783
1 -0.307691  0.269024 -0.566440  2021-01-01   sunny -147.974545
2  0.477809 -0.060138  1.974100  2021-01-01  cloudy  204.597486
3 -0.603840 -1.149554 -1.188424  2021-01-01  cloudy -119.535892
4  0.104714  0.228053 -0.422315  2021-01-01  cloudy  -34.253007

In [60]:
# Output general info about the table, notice we have some null values in all of our features
df.describe()

         feature0    feature1    feature2       target
count  997.000000  985.000000  991.000000  1000.000000
mean    -0.033086   -0.039734   -0.010171    -3.572753
std      0.994180    0.965242    0.946450    98.168109
min     -3.046143   -3.116857   -2.994613  -295.609931
25%     -0.726366   -0.737932   -0.673397   -72.793847
50%     -0.033319   -0.057043    0.010500    -4.980554
75%      0.602163    0.599040    0.656596    58.181068
max      3.170975    2.929096    2.680571   319.059199

In [61]:
# Drop all null values
df.dropna(inplace=True)

In [62]:
df.date

0      2021-01-01
1      2021-01-01
2      2021-01-01
3      2021-01-01
4      2021-01-01
          ...
995    2021-03-31
996    2021-03-31
997    2021-03-31
998    2021-03-31
999    2021-03-31
Name: date, Length: 957, dtype: object

In [63]:
# Change the date column to a datetime
df["date"] = pd.to_datetime(df.date)
# Change weather column to a category
df.loc[:, 'weather'] = df['weather'].astype("category")

In [64]:
# Extract year, month, and day into separate columns
df['year'] = df["date"].dt.year
df['month'] = df["date"].dt.month
df['day'] = df["date"].dt.day

In [65]:
# One hot encode the weather category to have individual features. Prefix with `weather`
weather_one_hot_df = pd.get_dummies(df, columns=["weather"])

In [66]:
# Add the one hot encoded values back to the df
df[weather_one_hot_df.columns.to_list()] = weather_one_hot_df

In [67]:
# Verify now that are table info has no nulls and correct Dtypes
df.head()

,feature0,feature1,feature2,date,weather,target,year,month,day,weather_cloudy,weather_rainy,weather_sunny
0,0.274647,-0.603620,0.688897,2021-01-01,sunny,41.269783,2021,1,1,False,False,True
1,-0.307691,0.269024,-0.566440,2021-01-01,sunny,-147.974545,2021,1,1,False,False,True
2,0.477809,-0.060138,1.974100,2021-01-01,cloudy,204.597486,2021,1,1,True,False,False
3,-0.603840,-1.149554,-1.188424,2021-01-01,cloudy,-119.535892,2021,1,1,True,False,False
4,0.104714,0.228053,-0.422315,2021-01-01,cloudy,-34.253007,2021,1,1,True,False,False

In [68]:
# These may change if you decided to call your columns different from above
all_features = [
    "feature0",
    "feature1",
    "feature2",
    "year",
    "month",
    "day",
    "weather_cloudy",
    "weather_rainy",
    "weather_sunny",
]

In [69]:
# Table summary, notice the mean to many of our tables are not zero.
df.describe()

,feature0,feature1,feature2,date,target,year,month,day
count,957.000000,957.000000,957.000000,957,957.000000,957.0,957.000000,957.000000
mean,-0.029455,-0.045588,-0.000638,2021-02-14 05:34:02.633229056,-3.028100,2021.0,1.993730,15.451411
min,-3.046143,-3.116857,-2.994613,2021-01-01 00:00:00,-295.609931,2021.0,1.000000,1.000000
25%,-0.726712,-0.739936,-0.652761,2021-01-23 00:00:00,-72.708333,2021.0,1.000000,8.000000
50%,-0.028529,-0.060138,0.021351,2021-02-14 00:00:00,-3.855294,2021.0,2.000000,15.000000
75%,0.610379,0.596906,0.658802,2021-03-09 00:00:00,59.153780,2021.0,3.000000,23.000000
max,3.170975,2.929096,2.680571,2021-03-31 00:00:00,319.059199,2021.0,3.000000,31.000000
std,0.998751,0.965487,0.937174,NaN,98.502515,0.0,0.830865,8.717497

In [70]:
# Standarize feature values to have a zero mean
scaler = StandardScaler()
scaler.fit(df[all_features])

StandardScaler()

In [74]:
# Standarize feature values to have a zero mean
scaler = StandardScaler()
scaler.fit(df[all_features])
df = pd.DataFrame(scaler.transform(df[all_features]), columns=all_features)

In [78]:
# Verify our features we are using now all have zero mean
df.describe().round(10)

,feature0,feature1,feature2,year,month,day,weather_cloudy,weather_rainy,weather_sunny
count,957.000000,957.000000,957.000000,957.0,957.000000,957.000000,957.000000,957.000000,957.000000
mean,-0.000000,0.000000,-0.000000,0.0,0.000000,-0.000000,0.000000,0.000000,0.000000
std,1.000523,1.000523,1.000523,0.0,1.000523,1.000523,1.000523,1.000523,1.000523
min,-3.022041,-3.182722,-3.196355,0.0,-1.196644,-1.658614,-0.693847,-0.441312,-1.024329
25%,-0.698495,-0.719545,-0.696204,0.0,-1.196644,-0.855212,-0.693847,-0.441312,-1.024329
50%,0.000927,-0.015078,0.023476,0.0,0.007550,-0.051809,-0.693847,-0.441312,0.976249
75%,0.640969,0.665809,0.704016,0.0,1.211744,0.866365,1.441239,-0.441312,0.976249
max,3.206108,3.082632,2.862448,0.0,1.211744,1.784540,1.441239,2.265969,0.976249

In [79]:
# train: 0.8 | test: 0.2
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0)

# train: 0.6 | validation: 0.2
df_train, df_val = train_test_split(df_train, test_size=0.25, random_state=0)

# Final dataset sizes: train: 0.6, validation: 0.2, text: 0.2,

In [80]:
# Output each shape to confirm the size of train/validation/test
print(f"Train: {df_train.shape}")
print(f"Validation: {df_val.shape}")
print(f"Test: {df_test.shape}")

Train: (573, 9)
Validation: (192, 9)
Test: (192, 9)

In [81]:
# Save all clean data, and the train, validation, test data as csv
df.to_csv("clean_weather_data.csv")
df_train.to_csv("train_data.csv")
df_val.to_csv("val_data.csv")
df_test.to_csv("test_data.csv")

# END OF NOTEBOOK